<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Postal Services</h3>
      <ul>
        <li>
          <a href="#contact" class="footer-link"
            ><span class="icon-mail"></span>Letter Sending</a
          >
        </li>
        <li>
          <a href="#contact" class="footer-link"
            ><span class="icon-package"></span>Parcel Shipping</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Courier Services</h3>
      <ul>
        <li>
          <a href="#contact" class="footer-link"
            ><span class="icon-truck"></span>Express Delivery</a
          >
        </li>
        <li>
          <a href="#contact" class="footer-link"
            ><span class="icon-globe"></span>International Shipping</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Storage</h3>
      <ul>
        <li>
          <a href="#contact" class="footer-link"
            ><span class="icon-warehouse"></span>Warehousing Services</a
          >
        </li>
        <li>
          <a href="#contact" class="footer-link"
            ><span class="icon-truck"></span>Logistics Solutions</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      &copy; <span id="current-year"></span> SwiftLogistics. All rights
      reserved.
    </p>
    <div class="footer-links">
      <a href="partials/privacy-policy.html" class="footer-link"
        >Privacy Policy</a
      >
      <a href="partials/terms-of-service.html" class="footer-link"
        >Terms of Service</a
      >
    </div>
  </div>
</footer>
